.studio a {
    background-color: #242424;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.topnav {
  margin: 0;
  overflow: hidden;
}

.topnav a {
  background-color: #242424;
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #c9c9c9;
  color: black;
}

.topnav a.active {
  background-color: #c9c9c9;
  color: black;
}
